region      = "us-east-1"
project     = "oficina"
environment = "prod"

engine_version = "16"
instance_class = "db.t3.micro"

allocated_storage     = 20
max_allocated_storage = 50

db_name     = "oficina_db"
db_username = "oficina"

backup_retention_period = 7

multi_az            = false
deletion_protection = false
